h1, h2, p {
  text-align: center;
}

h1, h2 {
  font-family: 'Caveat', cursive;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  color: #1A4035;
}

h2 {
  font-size: 30px;
  color: #593B2A;
}

 body {
  font-family: 'Roboto', sans-serif;
  background-image: url(./assets/background.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 20px;
  

 }

 .menu {
  width: 80%; 
  max-width: 500px;

  background-color: #D99962;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 40px;

 }

 .flavor, .dessert {
  text-align: left;
  width: 75%;
 }

 .price {
  text-align: right;
  width: 25%;
 }

 .item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;

 }

 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
  width: 140px;
  height: 150px;

}

 .est {
  font-style: italic;
  color: #1A4035;
 }

 hr {
  height: 2px;
  background-color: #1A4035;
  border-color: #1A4035;
 }

 .bottom-line {
  margin-top: 25px;
}

/* FOOTER */

footer {
  font-size: 14px;
  color: #593B2A;
}

a {
  color: #1A4035;
}

a:visited { color: #1A4035; }

a:hover { color: #BF5D24; }

a:active { color: #593B2A }









